{% extends 'base.html' %}
{% load static %}
{% block title %} About {% endblock %}

{% block content %} 
<img src="{%static '/images/about.png'%}" width=100% height=60%>
<div class="container my-5 text-left fw-lighter lh-sm">
<h3>About Us</h3>
<p>
    &nbsp&nbsp&nbsp<b>M</b>anKind Healthcare is an 250 bedded, first ISO certified multi - disciplinary super speciality Healthcare center in  Kerala. 
    Founded by Sri.S. Pottivelu, this state-of-the art hospital is strategically located at the heart of the kochi city, 
    The serene environment of the hospital is filled with a healing spiritual air.
    
    Based on the core philosophy of care, cure and compassion, this hospital provides the latest facilities available in modern medicine. 
    Providing advanced diagnostic and treatment facilities with a focus on teaching and research, we strive to achieve timely and efficient 
    delivery of medical care in a compassionate atmosphere.
    <br><br>
    
    ManKind Healthcare is supported by a team of dedicated physicians, surgeons, paramedics and a very progressive management under the leadership of 
    DR. Samuel M.B.B.S. M.Phil (Hospital. Administration). He is a graduate from the reputed Birla Institute for professional and meticulous hospital 
    management and health care.

    Dr. Mary has undergone extensive training in the field of hospital management from CMC Vellore which is a reputed centre providing training in this field. 
    Today SP ManKind Healthcare is paying special attention to the qualitative dimension of healthcare delivery, even as it pursues the goal of 
    leadership in knowledge and excellence. With dedicated services of more than 50 renowned doctors and 350 employees in various departments ManKind Healthcare
     has become the citadel for providing high quality healthcare services.
    <br><br>
    The unique feature of this hospital is that each of the department of the hospital is headed by highly experienced, 
    doctors and retired professors and head of the departments of Medical College.Your healthcare needs are safe in their hands. 
    Complementing them and paving the way for the smooth functioning of the hospital is a team of highly dedicated personnel 
    manning the various departments, thus fulfilling the hospital’s mission of providing service with sincerity and solicitude.
    
    Advancing demand for quality health care combined with the capacity and willingness of patients to pay more for top-flight services 
    creates a congenial atmosphere for private sector participation in the health care sector. 
    People's participation and patronage make healthcare today the world’s largest industry. Yet to meet the new millennium health care 
    challenges effectively, we do have to go a long way. We have to shoulder our own share of the responsibility in meeting this challenge 
    successfully in order to create a better India where people can lead a healthier life in the new millennium.
    <br><br>
    AHRI, the first tertiary hospital project of ManKind Healthcare, is conceived and being implemented with the above end in view. 
    Founded and promoted by a team of Medical Professionals who are all rated quite eminent in their respective disciplines, AHRI aims to play a predominant 
    role in the development of healthcare services in India by setting new trends and bringing about changes cherished and earnestly sought by the society. 
    With the kind of features we already have and are to have by its inception we are confident of achieving this avowed goal.
    </p>
</div>
<br>
{% endblock %}