{% extends 'base.html' %}

{% block title %} Contact As {% endblock %}

{% block content %} 
<br><br>
<div class="container">
    <div class="row">

        <div class="col">
            <h3 class="bg-success text-light w-25">Location Map</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7939210.3531242525!2d70.4361951!3d13.6840394!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae39d81b63802d%3A0x90ea1534fd617294!2sMankind%20Consumer%20Healthcare%20Pvt%20Ltd!5e0!3m2!1sen!2sin!4v1652287317204!5m2!1sen!2sin" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col" style="margin-top:20%">

            <h5>Address: No. 188/189, No-1, 3rd Floor, <br>Bengaluru, Karnataka 560074</h5>
            <p>Phone Number : 04712-450540</p>
            <p>Ambulance : 9955554422
        </div>
    </div>
</div>  
<br><br>
{% endblock %}